head {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

body {
    font-size: 8em;
    text-align: left;
    font: times;
    }
.header {
    font-size: 8em;
    text-align: left;
    font: times;
    }
.head {
    font-size: 8em;
}
.section {
    grid-auto-columns: 1fr 2fr
    }